<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Portal de Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Portal de Biblioteca</h1>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('libros_view') }}">Libros</a>
    
        </nav>
    </header>

    <main>
        {% block contenido %}{% endblock %}
    </main>

    <footer>
        <p>aaaa</p>
    </footer>
</body>
</html>
